<!DOCTYPE HTML>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>DoverChat</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      const namespace = '/chat';

      // Connect to the Socket.IO server.
      // The connection URL has the following format, **relative to the current page**:
      // http[s]://<domain>:<port>[/<namespace>]
      // TODO: update this
      const socket = io(namespace);

      // Event handler for new connections.
      // The callback function is invoked when a connection with the
      // server is established.
      socket.on('connect', function () {
        socket.emit('my_event', { data: 'I\'m connected!' });
      });

      // Event handler for server sent data.
      // The callback function is invoked whenever the server emits data
      // to the client. The data is then displayed in the "Received"
      // section of the page.
      socket.on('my_response', function (msg, cb) {
        let messageFeed = document.getElementById("message-feed")
        let message = document.createElement("li");
        message.style = "margin:0 0 10px 0;"
        if (!msg.username) {
          msg.username = 'Dover'
        }
        let msg_epoch = parseInt(msg.timestamp);
        if (!msg_epoch) {
          msg_epoch = Date.now();
        }
        const msg_time = new Date(msg_epoch).toLocaleString('en-US')
        message.innerHTML = msg.username + '@' + msg_time + ': ' + msg.data;
        messageFeed.append(message);
        // Auto scroll to the bottom when new message comes in
        messageFeed.scrollIntoView(false)
        if (cb) cb();
      });

      // Handlers for the different forms in the page.
      // These accept data from the user and send it to the server in a
      // variety of ways
      $('form#broadcast').submit(function (event) {
        socket.emit(
          'broadcast_event', {
          data: $('#broadcast_data').val(),
          username: $('#username_data').val() || 'test_user'
        }
        );
        // Click send clears the textarea
        $('#broadcast_data').val('')
        return false;
      });
      $('form#disconnect').submit(function (event) {
        socket.emit('disconnect');
        return false;
      });

      // Enter as send
      function submitOnEnter(event){
        if(event.which === 13){
          event.target.form.dispatchEvent(new Event("submit", {cancelable: true}));
          event.preventDefault(); // Prevents the addition of a new line in the text field (not needed in a lot of cases)
          }
        }

      document
        .getElementById("broadcast_data")
        .addEventListener("keypress", submitOnEnter);
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DoverChat</a>
  </nav>

  <div class="container-fluid">
    <div class="container-fluid"
      style="height: calc(100vh - 172px); width: 100%; overflow-y: scroll; border-style: solid;">
      <ul class="list-unstyled" id="message-feed">
      </ul>
    </div>

    <form id="broadcast" method="POST" action='#'>
      <div class="input-group" style="position: fixed; bottom: 1vh; width: 90vw; right: 5vw">
        <textarea class="form-control custom-control" rows="3" name="broadcast_data" id="broadcast_data"></textarea>
        <input type="submit" class="input-group-addon btn btn-primary" value="发送" onclick="submitForm()">
      </div>
    </form>
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>